@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);
body {
    font-family: 'Lato', sans-serif;
    color: #FFF;
    background: #322f30;
    -webkit-font-smoothing: antialiased;
}
a {
    text-decoration: none;
    color:#ffffff;
    transition: .5s
}
button:hover {
    color:#5c9ff7
}
a:hover {
    color:#5c9ff7
}
p > a:hover{
    color: #a59999;
    text-decoration:  underline;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin:  1% 0 1% 0;
}
._12 {
    font-size: 1.2em;
}
._14 {
    font-size: 1.4em;
}
ul {
    padding:0;
    list-style: none;
}
/* the highest level container for the social media icons */
#footer-social-icons {
    /* width: 350px; */
    width: 48%;
    float: left;
}

.table {
    /* position: relative; */
    display:table;
    margin: 0 auto;
    box-sizing:border-box;
}

  /* this container is to keep all the footer stuff together*/
.footer_container {
    padding: 0px;
}

/* when someone clicks on the header text, they should be taken to the project page */

.header_text {
    font-size: 30px;
    padding: 5px 15px;
    text-align: right;
    float:right;
}

.header_container {
    padding:0px, 0px;
}

/* the container which the individual icons reside */
ul#social-icons {
    margin-top: 0px;
    min-width: 45%;
    list-style: none;
}
/* the actual icons themselves */
ul#social-icons li {
    /*vertical-align: text-top;
    text-align: center;*/
    display: inline;
    height: 100%;
}

.social-icons a {
    color: #fff;
    text-decoration: none;
}

.social-icon {
    color: #fff;
}

.fa-facebook {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-facebook:hover {
    background-color: #3d5b99;
}
.fa-twitter {
    padding:10px 12px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-twitter:hover {
    background-color: #00aced;
}
.fa-instagram{
    padding:10px 12px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-instagram:hover {
    background-color: #bc2a8d;
}
.fa-vimeo{
    padding:10px 12px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-vimeo:hover {
    background-color: #86c9ef;
}
.fa-rss {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-rss:hover {
    background-color: #eb8231;
}
.fa-youtube {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-youtube:hover {
    background-color: #e64a41;
}
.fa-linkedin {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-linkedin:hover {
    background-color: #0073a4;
}
.fa-github {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-github:hover {
    background-color: #5a32a3;
}
.embed-container { 
    position: relative; 
    padding-bottom: 56%; 
    overflow: hidden; 
    max-width: 100%; 
} 
.embed-container iframe, .embed-container object, .embed-container embed {
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
}
#over {
    font-size:1.3em; 
    position:fixed; 
    top:10px; 
    right:20px; 
    z-index:2;
    text-align:right;
    color:#95c3ff;
    transition: .5s
 }
 #over:hover {
    color:#5c9ff7
 }

 .collapsible_left {
    background-color: #322f30;
    color: white;
    cursor: pointer;
    padding: 1%;
    width: 25%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 18px;
    float: left;
    /* display: inline-block; */
    /*z-index:2;*/
  }

 .collapsible_right{
    background-color: #322f30;
    color: white;
    cursor: pointer;
    padding: 1%;
    width: 25%;
    border: none;
    text-align: right;
    outline: none;
    font-size: 18px;
    float: right;
    /* display: inline-block; */
    /*z-index:3;*/
  }

  .active, .collapsible_right:hover,
  .active, .collapsible_left:hover {
    background-color: #555;
    
  }
  
  .hidden_content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #322f30;
  }

  .maincontent {
    position: fixed;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #322f30;
    width: 100%;
    padding: 20px;
  }

/* Contact form */

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #4c63af;
    color: rgb(245, 255, 217);
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #435caf;
  }
  
  /* Add a background color and some padding around the form */
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }